<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css">
</head>
<body>
<header th:insert="fragments/fragments.html :: header"></header>
<div>
    <form th:action="@{/courses/{courseID}/subjects/edit/{id} (courseID=${course.ID}, id=${subject.ID})} " th:object="${subject}" method="post">
        Subject name:<br>
        <label>
            <input type="text" name="name" th:value="${subject.name}">
        </label>
        <br>
        Difficulty:<br>
        <label>
            <input type="number" name="difficulty" th:value="${subject.difficulty}">
        </label>
        <br>
        Available credits<br>
        <label>
            <input type="number" name="credits" th:value="${subject.credits}">
        </label>
        <br>
        Duration:<br>
        <label>
            <input type="number" name="duration" th:value="${subject.duration}">
        </label>
        <br>
        <input type="submit" value="Edit">
    </form>


    <footer th:insert="fragments/fragments.html :: footer"></footer>
</div>
</body>
</html>