<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="index-stylesheet.css">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
</head>
<body>
<div id="page">
    <header th:insert="fragments/fragments.html :: header"></header>
    <section class="main">
        <!--The main table with all available courses-->
        <table>
            <tr>
                <th>Subject name</th>
                <th>Difficulty</th>
                <th>Credits</th>
                <th>Duration (in weeks)</th>
                <th>Options</th>
            </tr>
            <tr th:each="subject :${subjects}">
                <td th:text="${subject.name}"></td>
                <td th:text="${subject.difficulty}"></td>
                <td th:text="${subject.credits}"></td>
                <td th:text="${subject.duration}"></td>
                <td>
                    <a th:href="@{/courses/{courseID}/subjects/edit/{ID} (courseID=${course.ID}, ID=${subject.ID})}">Edit a subject</a>
                    <a th:href="@{/courses/{courseID}/subjects/{subjectID} (courseID=${course.ID},subjectID=${subject.ID})}">View topics</a>
                    <a th:href="@{/courses/{courseID}/subjects/delete/{ID} (courseID=${course.ID}, ID=${subject.ID})}">Delete a subject</a>
                </td>
            </tr>
        </table>
    </section>
    <section>
        <!--The available option buttons from which a person can choose-->
        <aside>
            <div class="content">
                <h3><a th:href="@{/courses/{courseID}/subjects/add (courseID=${course.ID})}">Add a subject</a></h3>
                <p>When you click the link above, you will be able to <strong>add</strong> a new subject to the already
                    existing subjects in that course!</p>
            </div>
        </aside>
    </section>
    <footer th:insert="fragments/fragments.html :: footer"></footer>
</div>

</body>
</html>