<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css">
    <title>Create a new topic</title>
</head>
<body>
<div>
    <header th:insert="fragments/fragments.html :: header"></header>

    <form class="indexForm" th:action="@{/courses/{courseID}/subjects/{subjectID}/add (courseID=${course.ID}, subjectID=${subject.ID})}"
          method="post">
        Topic Week:<br>
        <label>
            <input class="input" type="number" name="week" placeholder="Week Number">
        </label>
        <br>
        Topic name:<br>
        <label>
            <input class="input" type="text" name="name" placeholder="Topic name">
        </label>
        <br>
        Difficulty:<br>
        <label>
            <input class="input" type="number" name="difficulty" placeholder="Difficulty">
        </label>
        <br>
        <input type="submit" value="Add the topic!">
    </form>
    <footer th:insert="fragments/fragments.html :: footer"></footer>
</div>
</body>
</html>