<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit a topic</title>
</head>
<body>
<header th:insert="fragments/fragments.html :: header"></header>
<div>
    <form th:action="@{/courses/{courseID}/subjects/{subjectID}/edit/{topicID} (courseID=${course.ID},
     subjectID=${subject.ID}, topicID=${topic.ID})} " th:object="${topic}" method="post">
        Topic week:<br>
        <label>
            <input type="number" name="week" th:value="${topic.week}">
        </label>
        <br>
        Topic name:<br>
        <label>
            <input type="text" name="name" th:value="${topic.name}">
        </label>
        <br>
        Difficulty<br>
        <label>
            <input type="number" name="difficulty" th:value="${topic.difficulty}">
        </label>
        <br>
        <input type="submit" value="Edit the topic">
    </form>

    <footer th:insert="fragments/fragments.html :: footer"></footer>
</div>
</body>
</html>