<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add course</title>
    <link rel="stylesheet" type="text/css" href="index-stylesheet.css">
</head>
<body>
<div>
    <header th:insert="fragments/fragments.html :: header"></header>

    <form th:action="@{/courses/add}" method="post">
        Course name:<br>
        <label>
            <input type="text" name="name" placeholder="Name">
        </label>
        <br>
        Difficulty:<br>
        <label>
            <input type="text" name="difficulty" placeholder="Course difficulty">
        </label>
        <br>
        Minimum credits to pass:<br>
        <label>
            <input type="number" name="minCreditsToPass" placeholder="Minimum ETCS to pass">
        </label>
        <br>
        Duration:<br>
        <label>
            <input type="number" name="duration" placeholder="The duration of the course">
        </label>
        <br>
        <input type="submit" value="Add course!">
    </form>
    <footer th:insert="fragments/fragments.html :: footer"></footer>
</div>


</body>
</html>