<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css">
</head>
<body>
<header th:insert="fragments/fragments.html :: header"></header>
<form class="form" method="post">
    <input type="email" name="email" placeholder="E-mail"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="password2" placeholder="Repeat password"><br>
    <br>
    <input type="submit" name="register" placeholder="Register">
</form>
<footer th:insert="fragments/fragments.html :: footer"></footer>
</body>
</html>