<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/form.css}" rel="stylesheet" >
    <title>Register</title>
</head>
<body>

<form class="form" method="post">
    <input type="email" name="email" placeholder="E-mail"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="password2" placeholder="Repeat password"><br>
    <br>
    <input type="submit" name="register" placeholder="Register">
</form>
</body>
</html>