body {
    background-color: #CCD6EB;
}

header {
    text-align: center;
    background-color: #EEC8E0;
    position: relative;
    margin: 0;
}

header a.name {
    color: inherit;
    text-decoration: none;
}

header #topright {
    position: fixed;
    top: 14px;
    right: 14px;
}

div#login_page {
    text-align: center;
    margin: 10vw;
}

#login_from input[type= "email"],
#login_from input[type= "password"] {
    height: 30px;
}

.input {
    margin-bottom: 5px;
}

#login_from input[type="submit"], a.btn {
    alignment: center;
    border: 1px solid #fff;
    padding: 4px 15px;
    font-size: 16px;
    border-radius: 20px;
    text-decoration: none;
    background-color: buttonface;
    transition: background-color .5s;
    display: inline-block;
}

#login_from input[type="submit"] {
    height: 30px;
}

#login_from input[type="submit"]:hover, a.btn:hover {
    background-color: rgba(0, 0, 0, .3);
}

a.btn {
    color: inherit;
    text-decoration: none;
}

div#page {
    text-align: center;
}

section.main {
    width: 100%;
    height: 100%;
}
table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    border-collapse: collapse;
}

th, td {

    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #DAF7DC
}
tr:nth-child(odd) {
    background-color: #CAE7B9
}

th {
    background-color: #9EE493;
    color: white;
}

td.options a:link {
    text-decoration: none;
}

td.options a:visited {
    text-decoration: none;
}

td.options a:hover {
    text-decoration: underline;
}

td.options a:active {
    text-decoration: underline;
}

.lastEditedCourse{
    text-align: left;
}

section.main{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
}

section.main aside{
    width: 50%;
    float: left;
    text-align: center;
}

section.main .content{
    margin: 15px;
    background: no-repeat center top;
    background-size: 75px 75px;
    padding-top: 20px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
