<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/form.css}" rel="stylesheet" >
        <title>Courses</title>
    </head>
    <body>

        <div class="row">
            <div class="column">
                <h4>Courses</h4>

                <ul>
                    <li> <a href="https://www.w3schools.com/html/">example course</a> </li>
                </ul>
            </div>
            <div class="column">
                <button type="button">Add Course</button><br>
            </div>
        </div>

    </body>
</html>