<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="lists.css">
        <title>current topic</title>
    </head>
    <body>

        <div class="row">
            <div class="column">
                <h3>current course/subject/topic</h3>
                <h4>current topic</h4>
                <p>Every application, of any size, uses data. Often data is stored in a database.
                    The most commonly used database is (still) the relational database.
                    Well-known examples of RDBMS (relational database management systems) are MySQL and PostgreSQL.
                    Other more feature rich relational databases are Oracle DB and IBM DB2.
                    Software engineers will be using relational databases regularly.
                </p>
            </div>
            <div class="column">
                <button type="button">Edit current topic</button><br>
                <button type="button">Delete current topic</button><br>

            </div>
        </div>

    </body>
</html>