<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="lists.css">
        <title>Topics</title>
    </head>
    <body>

        <div class="row">
            <div class="column">
                <h3>current course/subject</h3>
                <h4>Topics</h4>
                <ul>
                    <li> <a href="https://www.w3schools.com/html/">example subject</a> </li>
                </ul>
            </div>
            <div class="column">
                <button type="button">Edit current subject</button><br>
                <button type="button">Delete current subject</button><br>
                <br>
                <br>
                <button type="button">Add topic</button>

            </div>
        </div>

    </body>
</html>